{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <style>
        body {
            background: white;
        }

        h1 {
            margin-bottom: 30px;
        }

    </style>
    <div class="jumbotron bg-light text-center">
        <h1>YWYMOBILIER</h1>
        <p>
            Le projet de Ywimobilier est de faciliter la vie des étudiants à la recherche de logement. Nous avons comme
            objectif de regrouper
            de nombreuses demandes de particuliers cherchant des locataires sur la ville de Lyon. Vous n'aures plus qu'a
            naviguez dans l'onglet offres, de récupérer
            les informations qui vous semblent importantes, de noter le numéro de téléphone du particulier et le tour
            est joué !!
        </p>
    </div>
{% endblock %}