{% extends 'base.html.twig' %}

{% block title %}Nos offres!{% endblock %}

{% block body %}
    <div id="app">
        <h1 class="title-base">Voici les appartements disponibles</h1>
        <input v-model="searchText" class="form-control mr-sm-5" type=" search" placeholder="Rechercher l'appartement de vos rêves"
               aria-label="">
        <br>
        <form class="form-inline my-2 my-lg-0">


            {#            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>#}
        </form>
        <div class="row row-cols-1 row-cols-md-3">
            {#            {% for property in properties %}#}
            <div v-for="property in filteredProperty" class="col mb-4">
                <div class="card">
                    <img src="/images/exampl1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                    :href="`/offres/${ property.slug }.${ property.id}`">
                                ${ properties.title }</a></h5>
                        <p class="card-text"><b>${ properties.price }€</b></p>
                        <small class="text-muted">${ properties.city } (${ properties.cp })</small></p>
                    </div>
                </div>
            </div>
            {#            {% endfor %}#}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>


{% endblock %}