{% extends 'base.html.twig' %}

{% block title %}Nos offres!{% endblock %}

{% block body %}
    <style>
        body {
            background: white;
        }
    </style>
    <div class="jumbotron text-center">
        <h1>LES OFFRES ARRIVENT BIENTOT</h1>
    </div>
{% endblock %}