body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.menu-btn-connexion {
    align-items: flex-end;
}


.title-base {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 3%;
}


.nav-logo {
    width: 50px;
}

.logo-home {
    width: 20%;
    margin-bottom: 3%;
}

.text-accueil {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid black;

}
.text_form{
    color: white;
}

.links{
    color: deepskyblue;
    text-decoration: none;
}
.links:hover{
    text-decoration: none;
    color: #4AD2FF;
}

.no-account{
    color:white;
    margin-top: 25px;
}
#form_connexion{
    border: 4px solid deepskyblue;
    border-radius: 10px;
    padding: 50px;
    background: #343a40;
    margin-bottom: 500px;
    box-shadow: 0px 0px 25px -5px #000000;

}

.inscription{
    margin-bottom: 32px;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid deepskyblue;
}

#bienvenue {
    font-size: 12px;
    margin-bottom: 30px;
}

#log {
    background-color: deepskyblue;
    color: white;
    margin: 5px;
    border-radius: 5px;
}
#log:hover{
    background: #4AD2FF;
    transition: .3s ease-in-out;
}

#connexion {
    border-radius: 10px;
    width: 60%;
    margin: 100px auto;
    display: block;
}

#inscription {
    border-radius: 10px;
    width: 80%;
    display: none;
    margin: 100px auto;
}

#title {
    color: deepskyblue;
    margin-bottom: 40px;
    font-weight: bold;
}

#buttons {
    margin-top: 10px;
}

#checkboxes {
    color: white;
    margin: 30px 0 0 0;

}

.text-primary {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-text {
    font-style: italic;
}
