{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </head>
    <style>
        body {
            background: white;
        }
        #bienvenue {
            font-size: 12px;
            margin-bottom: 30px;
        }

        #log {
            background-color: black;
            color: white;
        }

        #but_ins {
            background-color: white;
            border-color: white;
            color: black;
        }

        #but_ins, #log {
            margin: 5px;
            border-radius: 1px;
            box-shadow: 1px 1px rgba(51, 21, 121, 0.23);
        }

        #connexion {
            border-radius: 10px;
            width: 60%;
            margin: 100px auto;
            display: block;
        }

        #inscription {
            border-radius: 10px;
            width: 80%;
            display: none;
            margin: 100px auto;
        }

        #title {
            color:lightpink;
            margin-bottom: 40px;
            font-weight: bold;
        }

        #article_connexion {
            max-width: 500px;
        }

        #article_ins {
            max-width: 660px;
        }

        #buttons {
            margin-top: 10px;
        }

        #checkboxes {
            color: white;
            margin: 30px 0 0 0;

        }

        .control {
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px;
            padding-top: 3px;
            cursor: pointer;
            font-size: 16px;
        }

        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .control_indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: #ffffff;
            border: 1px solid black;
            border-radius: 6px;
        }

        .control input:checked ~ .control_indicator {
            background: lightpink;
        }

        .control input:disabled ~ .control_indicator {
            background: #e6e6e6;
            opacity: 0;
            pointer-events: none;
        }

        .control_indicator:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
        }

        .control input:checked ~ .control_indicator:after {
            display: block;
        }

        .control-checkbox .control_indicator:after {
            left: 8px;
            top: 4px;
            width: 3px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        .control-checkbox input:disabled ~ .control_indicator:after {
            border-color: #7b7b7b;
        }

    </style>

    <!--#region Connexion User !  -->

    <div id="connexion" class="card bg-dark">
        <article id="article_connexion" class="card-body mx-auto">
            <h1 id="title" class="card-title mt-3 text-center">Connexion</h1>
            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="container" style="width: 324px;">
                    <div class="row">

                        <div class="form-group input-group">
                            <input type="text" name="username" id="inputUsername" class="form-control "
                                   placeholder="Adresse mail" autofocus>
                        </div>


                        <div class="form-group input-group">
                            <input type="password" name="password" id="inputPassword" class="form-control "
                                   placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <button class="btn " type="submit" name="mdp" style="color: white">Mot de passe oublié ?</button>


                        <div id="checkboxes" class="control-group">
                            <label class="control control-checkbox">
                                Se rappeler de moi
                                <input type="checkbox"/>
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    <div id="buttons">
                        <div class="cont">
                            <div class="row">
                                <a href="#inscription" id="but_ins" class="btn col-md">
                                    S'inscrire
                                </a>
                                <button id="log" class="btn col-md" type="submit">
                                    Se connecter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>




            </form>
        </article>


    </div>
    <!--#endregion -->


    <!--#region Inscription User !-->
    <div id="inscription" class="card bg-dark">


        <article id="article_ins" class="card-body mx-auto">
            <h1 id="title" class="card-title mt-3 text-center">Inscription</h1>

            <p id="bienvenue" class="text-light text-center">La futur application pour aider les étudiants à trouver un logement.
                Ywymobilier est sensé regrouper les offres des particuliers pour trouver des locataires (en priotité a des prix abordable pour les étudiants).
                N'attendez plus, inscrivez-vous!</p>

            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <!--#region Prénom !-->
                            <div id="input" class="form-group input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input name="" class="form-control " placeholder="Prénom" type="text">
                            </div>
                            <!--#endregion !-->

                            <!--#region Nom !-->
                            <div id="input" class="form-group input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input name="" class="form-control " placeholder="Nom" type="text">
                            </div>
                            <!--#endregion !-->

                            <!--#region Pseudo !-->
                            <div id="input" class="form-group input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input name="" class="form-control " placeholder="Pseudo" type="text">
                            </div>
                            <!--#endregion !-->
                        </div>

                        <div id="input" class="col-sm">
                            <!--#region Mail !-->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input name="" class="form-control " placeholder="Mail" type="email">
                            </div>
                            <!--#endregion !-->


                            <!--#region MDP !-->
                            <div id="input" class="form-group input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input class="form-control " placeholder="Create password" type="password">
                            </div> <!-- form-group// -->
                            <div id="input" class="form-group input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input class="form-control " placeholder="Repeat password" type="password">
                            </div>

                        </div>
                    </div>
                    <br>
                    <!--#endregion !-->

                    <!--#region checkbox !-->
                    <!--<div class="maxl">
                        Voulez-vous vous abonnez à notre newsletter?</br>
                        <label class="radio inline">
                            <input type="radio" name="news" value="yes" checked>
                            <span>Oui </span>
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="news" value="no">
                            <span>Non </span>
                        </label>
                    </div>
                    <br>

                    <div class="maxl">
                        Voulez-vous activez les notifications ?</br>
                        <label class="radio inline">
                            <input type="radio" name="notif" value="oui" checked>
                            <span>Oui </span>
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="notif" value="non">
                            <span>Non </span>
                        </label>
                    </div>-->
                    <!--#endregion !-->
                    <br>

                    <div class="form-group">
                        <button id="log" type="submit" class="btn" style="color: white;">Valider</button>
                    </div>
                    <!-- <div class="text-center">Vous avez déjà un compte? <a href="">Connectez vous!</a></div>-->
                </div>
            </form>
        </article>
    </div>
    <!--#endregion !-->


{% endblock %}
